.card{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}
span{
    font-size: 50px;
}
#operations{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 270px;
    margin: 20px;
}